.whole{
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px;
}

.items{
    background: rgb(236, 236, 236);
    margin: 60px auto 60px auto ;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 40%;
    height: 90%;
    -webkit-box-shadow: 0px 16px 30px 5px rgba(145,139,145,1);
    -moz-box-shadow: 0px 16px 30px 5px rgba(145,139,145,1);
    box-shadow: 0px 16px 30px 5px rgba(145,139,145,1);
}

.items-list-details{
    line-height: 30px;
}

.oscur{
    background: black;
}

.produck{
    margin: 50px auto 50px auto;
    grid-column: 2/3;
    grid-row: 1/2;
    width: 74%;
    height: 100%;
    line-height: 20px;
}

.produck-descrip{
    padding-top: 10px;
    padding-right: 30px;
}

.produck-fragment{
    padding-top: 10px;
    padding-left: 40px;
}

.org{
    font-size: 2em;
    font-weight: bold;
    display: block;
    padding-right: 260px;
}

.prise-img{
    width: 20px;
    height: 20px;
    margin-bottom: 6px;
    padding-right: 6px; 
}
.items-list-details{
    list-style: none;
}