<div class="whole">
    <div class="items">
        <ul class="prise">Enterprise</ul>
        <ul class="items-list"><span>HR</span>
            <ul class="items-list-det">
                <li class="items-list-details"><span>Goals</span></li>
                <li class="items-list-details"><span>Candidates</span></li>
                <li class="items-list-details"><span>Facilities</span></li>
                <li class="items-list-details"><span>Onboarding</span></li>
            </ul>
        </ul>
        <ul class="items-list"><span>IT</span></ul>
        <ul class="items-list"><span>Operations</span></ul>
        <ul class="items-list"><span>Engineering</span></ul>
        <ul class="items-list"><span>Design</span></ul>
    </div>

    <div class="produck">
        <h2>Your whole organization on Product</h2>
        <p class="produck-descrip">Product offters the flexibility to organize your departaments, platforms, projects, or products in a way that fits your organization's unique needs.</p>
        <p class="produck-fragment">Have a single place for your entire organization to collaborate and move work forward</p>
        <p class="produck-fragment">Enable teams autonomy while having full control of processes and work flows</p>
        <p class="produck-fragment">Move projects between teams, or have multi-projects tasks, enabling cross-team collaboration</p>
    </div>
</div>