.container{
    max-width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-gap: .1em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 700px;
}

.menu{
    margin: 20px 40px 0 40px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}

.principal{
    margin: 0 40px 0 40px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    line-height: 20px;
}

.navbar-nav{
    font-size: 1.2em;    
}

.nav-item{
    margin: 0 6px 0 10px;
    padding: 0 10px 0 10px;
}
.nav-link{
    color: black;

}
.btn-nav{
    background: #fff;
    color:blue;
    font-weight: bold;
    border-style: none;
    width: 200px;
    height: 70px;
    font-size: 1.2em;
    border-radius: 10px;
}
.btn-header{
    background: rgba(148, 146, 146, 0.301) ;
    color: #000;
}

.presentation {
    width: 60%;
    margin-top: 20px;
}
.description {
   width: 80%;
   margin-top: 20px;
}

.input-group{
  width: 68%;
  margin-top: 20px;
}

.input-group-append{
    background: rgb(20, 161, 27);  
    border-radius: 0px 4px 4px 0px;
}
.btn-get{
    color: white;
    font-weight: bold; 
}

.form-control{
    -webkit-box-shadow: -6px 12px 5px 0px rgba(112,108,108,0.08);
    -moz-box-shadow: -6px 12px 5px 0px rgba(112,108,108,0.08);
    box-shadow: -6px 12px 5px 0px rgba(112,108,108,0.08);
}

.text-details{
    color: #7E8393;
    margin: 0;
    padding: 0;
    line-height: 0.5;
    font-size: 10px;
}

.free-asana{
    background: #A444D1;
    color: white;
    margin-top: 20px;
    width: 60%;
    font-size: 1.2em;
}

.effect-black{
    width: 64%;
    height: 550px;
    background: black;
    border-radius: 0px 0px 0px 91px;
    -moz-border-radius: 0px 0px 0px 91px;
    -webkit-border-radius: 0px 0px 0px 91px;
    border: 0px ridge #000000;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-top: 0;
    margin-left: 240px;
    -webkit-transform: skewY(10deg) translateY(120px);
    -moz-transform: skewY(10deg) translateY(120px);
    -ms-transform: skewY(10deg) translateY(120px);
    transform: skewY(10deg) translateY(120px);
}

.effect-min{
    width: 64%;
    height: 400px;
    background: black;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-top: 0;
    margin-left: 240px;
}
.nav-log{
    color: #fff;
    font-weight: bold;    
}

.drop {
    margin-top: 100px;
}

.dropdown-item{
    font-size: 1em;
}

.dove{
    width: 60px;
    height: 26px;
}

.layaut{
    background: #fff;
    border-radius: 2px;
    grid-column: 2/3;
    grid-row: 1/3;
    z-index: 3;
    width: 64%;
    height: 150px;
    margin: 200px auto auto 240px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    -webkit-box-shadow: -1px 8px 30px 5px rgba(145,139,145,1);
    -moz-box-shadow: -1px 8px 30px 5px rgba(145,139,145,1);
    box-shadow: -1px 8px 30px 5px rgba(145,139,145,1);
}

.bene{
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 20px 0 0 10px;
    font-size: 1em;
}

.btn-group{
    grid-column: 2/3;
    grid-row: 1/2;
    width: 120px;
    height: 40px;
    margin: 10px 0 0 0;
}

.role{
    background: #fff;
    border-radius: 2px;
    grid-column: 2/3;
    grid-row: 1/3;
    z-index: 2;
    width: 90%;
    height: 200px;   
    margin: 320px auto auto 64px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.rol-enter{
    grid-column: 1/3;
    grid-row: 1/2;
    width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0;
    background: rgba(148, 146, 146, 0.301);
    -webkit-box-shadow: -1px 8px 30px 5px rgba(145,139,145,1);
    -moz-box-shadow: -1px 8px 30px 5px rgba(145,139,145,1);
    box-shadow: -1px 8px 30px 5px rgba(145,139,145,1);
}

.rol-enter-nam{
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 20px 0 0 20px;
    font-size: 0.8em;
}

.rol-enter-namemail{
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 0 0 0 50px;
    font-size: 0.8em;
    line-height: 0;
}

.btn-group:nth-child(2){
    grid-column: 2/3;
    grid-row: 1/2;
}

.rol-other{
    grid-column: 1/3;
    grid-row: 2/3;
    width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0;
    border: solid;
    border-color: rgb(255, 255, 0);
    background: rgb(248, 248, 112);
    -webkit-box-shadow: -1px 8px 30px 5px rgba(145,139,145,1);
    -moz-box-shadow: -1px 8px 30px 5px rgba(145,139,145,1);
    box-shadow: -1px 8px 30px 5px rgba(145,139,145,1);
}

.rol-other-nam {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 20px 0 0 20px;
    font-size: 0.8em;
}

.rol-other-namemail{
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 0 0 0 50px;
    font-size: 0.8em;
    line-height: 0;
}

.btn-group:nth-child(3){
    grid-column: 2/3;
    grid-row: 1/2;
}

.layaut-btn{
    padding-left: 60px;
    background: #fff;
    color: #000;
    margin-left: 40px;
}

.layaut-other{
    padding: 0 0 0 60px;
    margin: 0 0 0 120px;
    background: #fff;
    color: #000;
}

.layaut-enter{
    padding: 0 0 0 90px;
    margin-left: 118px;
    background: #fff;
    color: #000;
}

img{
    width: 30px;
    height: 30px;
}