<div class="container">
  <!--Menu Navigation-->
  <div class="menu">
    <nav class="navbar navbar-expand-lg">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#"><img src="assets/img/dove.png" class="dove" alt=""> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><strong>Product</strong> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing<span class="sr-only"></span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Compare
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Compare 1</a>
                <a class="dropdown-item" href="#">Compare 2</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Compare 3</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Solution
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Solution 1</a>
                <a class="dropdown-item" href="#">Solution 2</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Solution 2</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Help<span class="sr-only"></span></a>
            </li>
          </ul>
            <li class=" navbar-nav nav-item">
              <a class="nav-link nav-log" href="#">Sign In<span class="sr-only"></span></a>
            </li>
            <button class="btn-nav my-2 my-sm-0" type="submit">Get Started Free</button>
        </div>
      </nav>
  </div>

  <!--Create Enterprise-->
  <div class="principal">

    <!--Create Button-->
    <div class="dropdown drop">
      <button class="btn btn-secondary dropdown-toggle btn-header" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Product <strong>For Enterprise</strong>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item"  href='target="_self"'>Action</a>
        <a class="dropdown-item"  href='target="_self"'>Another action</a>
        <a class="dropdown-item"  href='target="_self"'>Something else here</a>
      </div>
    </div>
    <!--Elements Header-->
    <h1 class="presentation"><strong>The Enterprise solution for efficient teams</strong></h1>
    <p class="description">Product allows you to build at scale, bringing your whole organization to a single place to collaborate , innovate, and move work forward</p>
    
    <!--Button Email-->
    <div class="input-group mb-3">
      <input type="email" class="form-control" placeholder="Your work email...." aria-label="Recipient's username" aria-describedby="button-addon2">
      <div class="input-group-append">
        <button class="btn btn-get" type="button" id="button-addon2">Get Started Free</button>
      </div>
    </div>

    <!--Text Details-->
    <div class="text-details">
      <p>Free Forever version with Unlimited Users. Free 14-days trial to test Premium.</p>
      <p>No Credit card required. Cancel anytime.</p>
      <!--Button Free Asana-->
      <button type="button" class="btn free-asana"><strong>FREE Asana & Jira Migration!</strong> Transfer everithing in seconds!</button>
    </div>
  </div>
  <!--Effect Black-->
  <div class="effect-black">
  </div>
  <div class="layaut">
      <h4 class="bene">Benedict's Progress</h4>
      <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle layaut-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          This week
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Week 1</a>
          <a class="dropdown-item" href="#">Week 2</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </div>
  </div>

  <div class="role">
    <div class="rol-enter">
      <p class="rol-enter-nam">Sarah Coll</p>
      <p class="rol-enter-namemail">Sarah@enterprise.com</p>
      <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle layaut-enter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Admin    
        </button>
        <div class="dropdown-menu">
            <div class="dropdown-divider"></div>
        </div>
      </div>
    </div>
    
    <div class="rol-other">
      <p class="rol-other-nam">sarah@empire.com</p>
      <p class="rol-other-namemail">Invite expires in 24 hours</p>
      <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle layaut-other" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Select Role
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Owner</a>
          <a class="dropdown-item" href="#">Manager</a>
          <a class="dropdown-item" href="#">Member</a>
          <a class="dropdown-item" href="#">Collaborator</a>
          <a class="dropdown-item" href="#">Guest</a>
          <a class="dropdown-item" href="#">None</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </div>
    </div>
  </div>
  <!--Effect Complement-->
  <div class="effect-min">23
  </div>
</div>