<div class="footer">
    <img src="" alt="facebook">
    <img src="" alt="youtube">
    <img src="" alt="instagram">
    <button type="button" class="btn btn-primary btn-lg">Follow @productktool</button>
    <button type="button" class="btn btn-secondary btn-lg">Brought to you by Bons</button>
    <a href="#" class="card-link">Privacy Policy</a>
    <a href="#" class="card-link">Cookie Policy</a>
    <a href="#" class="card-link">Terms and Conditions</a>
    <a href="#" class="card-link">Legal Notice</a>
    <a href="#" class="card-link">Contact Us</a>
</div>