<div class="footer">
    <div class="networks">
        <img class="social-network"src="assets/img/facebook.svg" alt="">
        <img class="social-network"src="assets/img/youtube.svg" alt="">
        <img class="social-network"src="assets/img/instagram.svg" alt="">
        <button type="button" class="btn btn-primary btn-lg">Follow @productktool</button>
        <button type="button" class="btn btn-secondary btn-lg">Brought to you by Bons</button>
    </div>
    <div class="polits">
        <a href="#" class="card-link">Privacy Policy</a>
        <a href="#" class="card-link">Cookie Policy</a>
        <a href="#" class="card-link">Terms and Conditions</a>
        <a href="#" class="card-link">Legal Notice</a>
        <a href="#" class="card-link">Contact Us</a>
    </div>
</div>