<div class="granular">
    <div class="granular-profiles">
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Owner</th>
            <th scope="col">Manager</th>
            <th scope="col">Guest</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Title & Description</th>
            <td><img src="assets/img/check.png" alt=""></td>
            <td><button type="button" class="btn btn-secondary btn-sm">View Create and Edit Self</button></td>
            <td><img src="assets/img/check.png" alt=""></td>
          </tr>
          <tr>
            <th scope="row">Comments</th>
            <td><img src="assets/img/check.png" alt=""></td>
            <td><img src="assets/img/check.png" alt=""></td>
            <td><button type="button" class="btn btn-secondary btn-sm">View Only</button></td>
          </tr>
          <tr>
            <th scope="row">Type</th>
            <td><img src="assets/img/check.png" alt=""></td>
            <td><img src="assets/img/check.png" alt=""></td>
            <td><img src="assets/img/cancel.png" alt=""></td>
          </tr>
          <tr>
            <th scope="row">Priority</th>
            <td><img src="assets/img/check.png" alt=""></td>
            <td><img src="assets/img/check.png" alt=""></td>
            <td><img src="assets/img/cancel.png" alt=""></td>
          </tr>
          <tr>
            <th scope="row">Due Date</th>
            <td><img src="assets/img/check.png" alt=""></td>
            <td><img src="assets/img/check.png" alt=""></td>
            <td><img src="assets/img/cancel.png" alt=""></td>
          </tr>
          <tr>
            <th scope="row">Estimate</th>
            <td><img src="assets/img/check.png" alt=""></td>
            <td><img src="assets/img/check.png" alt=""></td>
            <td><img src="assets/img/cancel.png" alt=""></td>
          </tr>
          <tr>
            <th scope="row">Labels</th>
            <td><img src="assets/img/check.png" alt=""></td>
            <td><img src="assets/img/check.png" alt=""></td>
            <td><img src="assets/img/cancel.png" alt=""></td>
          </tr>
        </tbody>
      </table>
      
      <div class="rol-enter">
        <p class="rol-enter-nam"><img class="man" src="assets/img/man.svg" alt="">William Poulse</p>
        <p class="rol-enter-namemail">william@enterprise.com</p>
        <div class="btn-group">
          <button type="button" class="btn btn-secondary dropdown-toggle layaut-enter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Admin    
          </button>
          <div class="dropdown-menu">
              <div class="dropdown-divider"></div>
          </div>
        </div>
      </div>

      <div class="rol-two">
        <p class="rol-enter-nam"><img class="man" src="assets/img/man.svg" alt="">William Poulse</p>
        <p class="rol-enter-namemail">william@enterprise.com</p>
        <div class="btn-group">
          <button type="button" class="btn btn-secondary dropdown-toggle layaut-enter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Admin    
          </button>
          <div class="dropdown-menu">
              <div class="dropdown-divider"></div>
          </div>
        </div>
      </div>

    </div>
    <div class="granular-roles">
        <h2 class="granular-roles-tiroles">Granular Roles and Permissions</h2>
        <p class="granular-roles-texroles">Have full control of what every member can access, view or do in you organization</p>
        <p class="granular-roles-stake"><img class="imlog" src="assets/img/logo (6).ico" alt="">Have different levels of permissions for the same person within different departments, teams, or projects</p>
        <p class="granular-roles-stake"><img class="imlog" src="assets/img/logo (7).ico" alt="">Invite stakeholders as free guests to only see the basic and get involved</p>
        <p class="granular-roles-stake"><img class="imlog" src="assets/img/logo (8).ico" alt="">Grant restricted access to contractors on a project-by-project basis</p>
    </div>
</div>
