<div class="granular">
    <div class="granular-profiles">
      1  
    </div>
    <div class="granular-roles">
        <h2 class="granular-roles-tiroles">Granular Roles and Permissions</h2>
        <p class="granular-roles-texroles">Have full control of what every member can access, view or do in you organization</p>
        <p class="granular-roles-stake">Have different levels of permissions for the same person within different departments, teams, or projects</p>
        <p class="granular-roles-stake">Invite stakeholders as free guests to only see the basic and get involved</p>
        <p class="granular-roles-stake">Grant restricted access to contractors on a project-by-project basis</p>
    </div>
</div>
