<div class="support">
    <div class="card-deck">
        <div class="card">
          <img src="assets/img/security.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Security</h5>
            <p class="card-text">The Product infrastructure is provided by Amazon Web Services (AWS). providing end-to-end security and privacy features built in.</p>
          </div>
        </div>
        <div class="card">
          <img src="assets/img/data_control.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Data Control</h5>
            <p class="card-text">Our Enterprise plan gives you advanced data control like full data deletion, data export, and encryption at rest.</p>
          </div>
        </div>
        <div class="card">
          <img src="assets/img/support.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Support</h5>
            <p class="card-text">Your dedicated success manager will help you set up and use Produck to fit your workflow and optimize team efficiency.</p>
          </div>
        </div>
    </div>

    <div class="card-deck">
        <div class="card">
          <img src="assets/img/uptime.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">99.9% Uptime</h5>
            <p class="card-text">We offer the highest level of support, including 99.8% Uptime SLA. 24/7 support for urgent tasks, and 24/5 support with an eight-hour response time for les-urgent matters.</p>
          </div>
        </div>
        <div class="card">
          <img src="assets/img/saml.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">SAML</h5>
            <p class="card-text">Control who has access to your organization with SAML single sign-on and Access Provisioning/Deprovisionign.</p>
          </div>
        </div>
        <div class="card">
          <img src="assets/img/custom.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Customizations</h5>
            <p class="card-text">We understand that every team has its own needs. We use our seven years of agency experience to offer custom feature development tailored to your unique needs.</p>
          </div>
        </div>
    </div>
    
    <div class="support-imgbut">
        <h4 class="support-imgbut-titele">Try Product for free</h4>
        <p class="support-imgbut-descri">Make your team more successful with Produck</p>
        <button class="btn-nav my-2 my-sm-0" type="submit">Get Started Free</button>
        <a href="#" class="card-link">Watch Demo</a>
    </div>
</div>