<div class="portfolio">
    <div class="monitor">
        <h2>Portfolio Monitor</h2>
        <p class="monitor-parra">Every folder has its own dashboard displaying an overview of nested projects and sprints.</p>
        <p class="monitor-monitor">Quickly visualize how each department/team's projects and sprints are progressing</p>
        <p class="monitor-monitor">Have an overview of projects across your entire organization with your team dashboard</p>
    </div>

    <div class="projects-spring">1
    </div>
</div>
