<div class="portfolio">
    <div class="monitor">
        <h2 class="monitor-p">Portfolio Monitor</h2>
        <p class="monitor-parra">Every folder has its own dashboard displaying an overview of nested projects and sprints.</p>
        <p class="monitor-monitoring">Quickly visualize how each department/team's projects and sprints are progressing</p>
        <p class="monitor-monitoring">Have an overview of projects across your entire organization with your team dashboard</p>
    </div>

    <div class="projects-spring">
    </div>
</div>
