<div class="portfolio">
    <div class="monitor">
        <h2 class="monitor-p">Portfolio Monitor</h2>
        <p class="monitor-parra">Every folder has its own dashboard displaying an overview of nested projects and sprints.</p>
        <p class="monitor-monitoring"><img src="assets/img/logo (1).ico" alt="">Quickly visualize how each department/team's projects and sprints are progressing</p>
        <p class="monitor-monitoring"><img src="assets/img/logo (5).ico" alt="">Have an overview of projects across your entire organization with your team dashboard</p>
    </div>
    <div class="projects-spring">
            <p class="pro">Project</p>    
            <div class="projects-airbn">
                <p class="air">AirBnb/<span class="design">Website Redesign</span></p>  
                <p class="timer">Last Activity<span class="timer-fech">Nov 28th 18</span></p>              
                
                <div class="procir">
                    <div class="c100 p12 small">
                      <span>12%</span>
                      <div class="slice">
                          <div class="bar"></div>
                          <div class="fill"></div>
                      </div>
                    </div>
                 </div>
          
                 <div class="procirtwo">
                  <div class="c100 p12 small dark">
                      <span>12%</span>
                      <div class="slice">
                          <div class="bar"></div>
                          <div class="fill"></div>
                      </div>
                  </div>
                </div>
          
            </div>
            <div class="projects-internal">
                <p class="air">Internal/<span class="design">Icon Set</span></p>  
                <p class="timer">Last Activity<span class="timer-fech">Nov 28th 18</span></p>
                
                <div class="procir">
                    <div class="c100 p12 small">
                      <span>12%</span>
                      <div class="slice">
                          <div class="bar"></div>
                          <div class="fill"></div>
                      </div>
                    </div>
                 </div>
          
                 <div class="procirtwo">
                  <div class="c100 p12 small dark">
                      <span>12%</span>
                      <div class="slice">
                          <div class="bar"></div>
                          <div class="fill"></div>
                      </div>
                  </div>
                </div>
            </div>
            <div class="projects-apple">
                <p class="air">Apple/<span class="design">Branding</span></p>  
                <p class="timer">Last Activity<span class="timer-fech">Nov 28th 18</span></p> 

                <div class="procir">
                    <div class="c100 p12 small">
                      <span>12%</span>
                      <div class="slice">
                          <div class="bar"></div>
                          <div class="fill"></div>
                      </div>
                    </div>
                 </div>
          
                 <div class="procirtwo">
                  <div class="c100 p12 small dark">
                      <span>12%</span>
                      <div class="slice">
                          <div class="bar"></div>
                          <div class="fill"></div>
                      </div>
                  </div>
                </div>
            </div>            
        <p class="spri">Sprint</p>
        <div class="projects-ux">
            <p class="air">AirBnB/<span class="design">UX ResearchIcon Set</span></p>  
            <p class="timer"><span class="timer-fech">Start Date May 1st 19 -> End Date May 30th 19</span></p> 
        
            <div class="procir">
                <div class="c100 p12 small">
                  <span>12%</span>
                  <div class="slice">
                      <div class="bar"></div>
                      <div class="fill"></div>
                  </div>
                </div>
             </div>
      
             <div class="procirtwo">
              <div class="c100 p12 small dark">
                  <span>12%</span>
                  <div class="slice">
                      <div class="bar"></div>
                      <div class="fill"></div>
                  </div>
              </div>
            </div>
        </div>

        <div class="projects-newagen">
            <p class="air">Playground/<span class="design">New Agency Presentation</span></p>  
            <p class="timer"><span class="timer-fech">Start Date Aug 6th 18 -> End Date Aug 10th 18</span></p> 
            
            <div class="procir">
                <div class="c100 p12 small">
                  <span>12%</span>
                  <div class="slice">
                      <div class="bar"></div>
                      <div class="fill"></div>
                  </div>
                </div>
             </div>
      
             <div class="procirtwo">
              <div class="c100 p12 small dark">
                  <span>12%</span>
                  <div class="slice">
                      <div class="bar"></div>
                      <div class="fill"></div>
                  </div>
              </div>
            </div>
        </div>
    </div>
</div>
