<div class="workflow">
    <div class="workflow-sett">
        <h2>Get more out of your existing workflow</h2>
        <p class="workflow-sett-descri">Product integrates with 1000+ apps via Zapier and has a few built-in native integrations.</p>
    </div>

    <div class="card-deck">
        <div class="card">
          <img src="assets/img/salesforce.svg" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Salesforce</h5>
            <p class="card-text">Product integrates with Salesforce a leading enterpise customer relationship manager (CRM) application.</p>
          </div>
        </div>
        <div class="card">
          <img src="assets/img/googlesheets.svg" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Google Sheets</h5>
            <p class="card-text">Automatically add new rows to a Google Sheets when a task in Product changes states, priority and more.</p>
          </div>
        </div>
        <div class="card">
          <img src="assets/img/gmail.svg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Gmail</h5>
            <p class="card-text">Ever wanted to have emails from Gmail get sent to Produck as tasks? Create Produck tasks from new starred emails in your Gmail account.</p>
          </div>
        </div>
    </div>

    <div class="but-learn">
        <button type="button" class="btn btn-primary">Learn more about Zapier and Produck
        </button>
    </div>
</div>
